body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height to center vertically */

}

h1 {
  text-align: center;
  color: #5f6368;
}

form {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

}

.stats-container {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.stats-container p {
  margin: 10px 0; 
}

.stats-container span {
  font-weight: bold;
}
